<div class="ramlInput">
	<div class="form-horizontal">

		<div class="form-group">
			<label for="ramlUrl" class="col-sm-2 control-label">Url or RAML</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="3" ng-model="raml.url">{{client}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="language" class="col-sm-2 control-label">Language:</label>
			<div class="col-sm-8">
				<select class="form-control" ng-model="raml.language">
					<option value="C#">C#</option>
					<option value="PHP">PHP</option>
				</select>
			</div>
		</div>

		<div ng-show="startGenerator" >
			<input type="button" ng:click="generate()" class="btn btn-primary" value="Create Client" />
		</div>
		<div class="ng-hide" ng-show="loading">
			<img src="images/loading.gif">
		</div>
	</div>
</div>
<div class="ramlOutput ng-hide" ng-show="hasRamlResult">
	<textarea class="form-control" rows="20">{{client}}</textarea>
</div>